@if (animalModel()) {
    <div>
        <form>
            <h2>{{ animalForm.animalName().value() | uppercase }} Details</h2>
            <div>id: {{ animalForm.id().value() }}</div>
            <div>
                <label>name:
                    <input type='text' [formField]="animalForm.animalName" placeholder="name"/>
                </label>
            </div>
            <button (click)="goBack()">go back</button>
            <button (click)="save()">save</button>
        </form>
    </div>
}
