# Editor configuration, see http://editorconfig.org
root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = true
max_line_length = 120
tab_width = 4
trim_trailing_whitespace = true

[{*.bash,*.sh,*.zsh}]
indent_size = 2
tab_width = 2

[{*.har,*.jsb2,*.jsb3,*.json,*.jsonc,*.postman_collection,*.postman_collection.json,*.postman_environment,*.postman_environment.json,.babelrc,.eslintrc,.prettierrc,.stylelintrc,.ws-context,jest.config}]
indent_size = 2
tab_width = 2

[{*.ps1,*.psd1,*.psm1}]
max_line_length = 115

[{*.yaml,*.yml,.clang-format,.clang-tidy,_clang-format}]
indent_size = 2
tab_width = 2

[*.md]
max_line_length = off
trim_trailing_whitespace = false
