version: 2.1

orbs:
  browser-tools: circleci/browser-tools@2.4.0

executors:
  my-docker-executor:
    docker:
      - image: cimg/node:24.13.0-browsers

jobs:
  build:
    executor: my-docker-executor
    steps:
      - browser-tools/install_browser_tools:
          firefox_version: '139.0.1'
      - checkout
      - run: npm ci
      - run: npm test
