<div id="search-component">
    <search>
        <form>
            <h4><label for="search-box">Food Search</label></h4>
            <input #searchBox type="search" name="search-box" id="search-box"
                   (input)="query.set($event.target.value)"/>
        </form>
    </search>

    <section>
        <ul class="search-result">
            @if (resultsResource.isLoading()) {
                <p>Searching…</p>
            }
            @for (food of resultsResource.value(); track food.id) {
                <li>
                    <a routerLink="/foods/{{ food.id }}">
                        {{ food.name }}
                    </a>
                </li>
            }
        </ul>
    </section>
</div>
